/*--------------------------------------------*/
/*               App.js Top Bar               */
/*--------------------------------------------*/

.topbar {
  background-color: #ffff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  top: 0;
  width: 100%;
  z-index: 1;
  height: 6em;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.topbar .fa-2x {
  padding: 0 3%;
}

.topbar-left {
  /* background-color: salmon; */
  width: 30%;
}

.topbar-sitename {
  font-size: 2.2em;
}

.topbar-middle {
  /* background-color: goldenrod; */
  width: 30%;
}

.topbar-middle form {
  padding: 0;
  margin: 0;
}

.topbar-right {
  /* background-color: yellowgreen; */
  width: 30%;
}

.fontColor{
  color: #003569;
}

.userPhotos {
  height: 293px;
  width: 293px;
}

.instaCloneFont {
  font-family: 'Grand Hotel', cursive;
}

.usernameFont {
  font-family: 'Quicksand', sans-serif;
}

.cursor {
  cursor: pointer;
}

.searchBar {
  padding: 3%;
  text-align: center;
  background-color: rgb(250,250,250);
  border: none;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0.5%;
  transition: 0.3s all;
  font-size: 1.4em;
}

.searchBar::placeholder {
  color: rgb(221, 221, 221);
}

.searchBar:focus {
  outline: none;
  background-color: rgb(255, 255, 255);
}
