/*--------------------------------------------*/
/*                Color Scheme                */
/*--------------------------------------------*/
/* color1: #34373c grey */
/* color2: #141518 darkgrey */
/* color3: rgb(148,0,105) purple */
/* color4: #f2f2f2 whitesmoke */
/* color5: #f2f2f2 low opacity */


/*--------------------------------------------*/
/*               App.js Top Bar               */
/*--------------------------------------------*/

.topbar {
  background-color: #34373c;
  border-bottom: 1px solid rgba(0, 0, 0, .0975); 
  top: 0;
  width: 100%;
  z-index: 1;
  height: 6em;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar a {
  color: #f2f2f2;
  text-decoration: none;
}

.topbar .fa-2x {
  padding: 0 3%;
}

.topbar-left {
  width: 30%;
}

.topbar-sitename {
  font-size: 2.2em;
}

.topbar-middle {
  width: 30%;
}

.topbar-middle form {
  padding: 0;
  margin: 0;
}

.topbar-right {
  width: 30%;
}

.userPhotos {
  height: 293px;
  width: 293px;
}

.instaCloneFont {
  font-family: 'Grand Hotel', cursive;
}

.usernameFont {
  font-family: 'Quicksand', sans-serif;
}

.cursor {
  cursor: pointer;
}

.searchBar {
  padding: 10px;
  text-align: center;
  background-color: #141518;
  border: none;
  border: 1px solid rgba(20, 21, 24, 0.1);
  border-radius: 1px;
  transition: 0.3s all;
  font-size: 1.4em;
  color: rgba(242, 242, 242, 0.2);
}

.searchBar::placeholder {
  color: rgba(242, 242, 242, 0.2);
}

.searchBar:focus {
  outline: none;
  background-color: #34373c;
  color: rgba(242, 242, 242, 0.6);
  border: 1px solid rgba(20, 21, 24, 0.8);
}

.searchBar:focus::placeholder {
  color: rgba(242, 242, 242, 0.6);
}

@media screen and (max-width: 490px) {
  .searchBar {
    padding: 6%;
  }

  .topbar {
    justify-content: space-around;
  }
  
  .topbar .instaCloneFont,
  .topbar-middle {
    display: none;
  }

  .topbar-left,
  .topbar-right {
    width: 45%;
  }

  .topbar-left {
    text-align: left;
    padding-left: 6%;
  }

  .topbar-right {
    text-align: right;
    padding-right: 6%;
  }

}
