/*--------------------------------------------*/
/*                Color Scheme                */
/*--------------------------------------------*/
/* color1: #34373c grey */
/* color2: #141518 darkgrey */
/* color3: rgb(148,0,105) purple */
/* color4: #f2f2f2 whitesmoke */
/* color5: #f2f2f2 low opacity */


/*--------------------------------------------*/
/*           Followers and Following          */
/*--------------------------------------------*/

.follow-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: none;
    font-size: 1.4em;
    color: #f2f2f2;
    background-color: #34373c;
}

.follow-container a,
.follow-container a:visited {
    text-decoration: none;
    color: #f2f2f2;
}

.follow-container button {
    color: #f2f2f2;
}

.follow-container-nav {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1.2rem;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid rgba(242, 242, 242, 0.6);
}

.follow-container-nav h1 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0;
}

.follow-container-nav button {
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
}

.follow-list-container {
    background-color: #34373c;
    display: flex;
    flex-direction: column;
}

.follow-list-single-user {
    display: flex;
    background-color: #34373c;
    padding: 0.6rem 1.2rem;
    border-bottom: 2px solid rgba(242, 242, 242, 0.1);
}

.follow-list-single-img {
    height: 60px;
    width: 60px;
}

.follow-list-single-img img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.follow-list-single-info {
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow-list-single-info p {
    margin: 0;
    padding: 0.2rem 0;
    font-weight: 600;
}

.follow-list-single-info-name {
    color: rgba(242, 242, 242, 0.6);
}