/*--------------------------------------------*/
/*                Color Scheme                */
/*--------------------------------------------*/
/* color1: #34373c grey */
/* color2: #141518 darkgrey */
/* color3: rgb(148,0,105) purple */
/* color4: #f2f2f2 whitesmoke */
/* color5: #f2f2f2 low opacity */


/*--------------------------------------------*/
/*                  Home.jsx                  */
/*--------------------------------------------*/

.homefeed-page-container {
    background-color: #141518;
    font-size: 10px;
    color: #f2f2f2;
    padding-bottom: 3%;
}

.homefeed-page-container p {
    padding: 0;
    margin: 0;
}

.homefeed-card-container {
    background-color: #34373c;
    width: 40%;
    margin: 5% auto;
    transition: 0.5s all;
    text-align: left;
    border: 1px solid rgba(242, 242, 242, 0.1);
    border-radius: 1px;
}

.homefeed-card-meta {
    /* background-color: rgb(255, 255, 255); */
    background-color: none;
    display: flex;
    padding: 2%;
    align-items: center;
}

.homefeed-card-meta p {
    margin-left: 2%;
}

.homefeed-card-userprof {
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

.homefeed-card-username a {
    text-decoration: none;
    font-size: 1.4em;
    color: #f2f2f2;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.homefeed-card-img {
    /* background-color: rgb(255, 255, 255); */
    background-color: none;
}

.homefeed-card-img img {
    position: relative;
    width: 100%;
}

.homefeed-card-heart,
.homefeed-card-likes,
.homefeed-card-caption {
    font-size: 1.4em;
    padding: 2%;
}

.homefeed-card-heart {
    font-size: 2em;
}


.homefeed-card-liked-button:focus,
.homefeed-card-unliked-button:focus {
    outline: none;
}

.homefeed-card-liked-button,
.homefeed-card-unliked-button {
    width: 30px;
    height: 30px;
    border: none;
}

.homefeed-card-liked-button {
    background: url('https://i.imgur.com/1g3gy6g.png') no-repeat;
    background-size: 30px 30px;
}

.homefeed-card-unliked-button {
    background: url('https://i.imgur.com/ACdwplH.png') no-repeat;
    background-size: 30px 30px;
}

.homefeed-card-unliked-button:hover {
    background: url('https://i.imgur.com/1g3gy6g.png') no-repeat;
    background-size: 30px 30px;
}

.homefeed-card-likes {
    font-weight: 600;
}

.homefeed-caption-username {
    font-weight: 600;
    letter-spacing: 0.06em;
}

/* .homefeed-card-caption {
    background-color: rgb(255, 255, 255);
} */

@media screen and (max-width: 940px) {
    .homefeed-card-container {
        width: 60%;
    }
}

@media screen and (max-width: 640px) {
    .homefeed-card-container {
        width: 95%;
    }
}