/*--------------------------------------------*/
/*                   Fonts                    */
/*--------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


/*--------------------------------------------*/
/*                General Body                */
/*--------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.App {
  margin-top: 80px;
  text-align: center;
  font-size: 10px;
}
