/*--------------------------------------------*/
/*                   Fonts                    */
/*--------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


/*--------------------------------------------*/
/*                General Body                */
/*--------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  background-color: #141518;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.App {
  margin-top: 80px;
  text-align: center;
  font-size: 10px;
}


/*--------------------------------------------*/
/*                 Modal Window               */
/*--------------------------------------------*/

.modal {
  position: absolute;
  top: 50px;
  left: 24%;
  right: 24%;
  bottom: 50px;
  border: 1px solid rgb(204, 204, 204);
  background: white;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 0;
  margin-top: 46px;
  transition: .5s all;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 21, 24, 0.2);
}


/*--------------------------------------------*/
/*             Single Photo Modal             */
/*--------------------------------------------*/

.modal-photo {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px;
  width: 815px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
  border: 1px solid rgba(204, 204, 204, 0.2);
  /* background-color: rgba(255, 255, 255, 0.5); */
  overflow: auto;
  border-radius: 1px;
  outline: none;
  padding: 0;
  transition: .5s all;
  -moz-transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
}


/* @media screen and (max-width: 1180px) {
  .modal-photo {
    left: 10%;
    right: 10%;
    width: auto;
  }
} */

@media screen and (max-width: 1050px) {
  .modal {
    left: 12%;
    right: 12%;
  }
}

@media screen and (max-width: 850px) {
  .modal-photo {
    left: 10%;
    right: 10%;
    width: auto;
  }
}

@media screen and (max-width: 690px) {
  .modal {
    left: 6%;
    right: 6%;
  }
}