/*--------------------------------------------*/
/*         Login/Register Page and Box        */
/*--------------------------------------------*/
.login-user-container,
.register-user-container {
  /* background-color: salmon; */
  margin-top: 100px;
  /* height: 100%; */
}

.loginBox,
.registerBox {
  text-align: center;
  /* width: 22.25%; */
  width: 300px;
  height: 45%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  /* margin-left: 38.4%; */
  /* margin-top: 5%; */
  margin: 0 auto;
  padding: 10px 0;
}

.siteFont{
  text-align: center;
  font-size: 3em;
  font-family: 'Grand Hotel', cursive;
  color: #262626;
}

.loginBtn{
  top: 16px;
  height: 38px;
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  flex-direction: row;
  font-size: 14px;
  position: relative;
  width: 80%;
  background-color: #3897f0;
  font-weight: bold;
}

.login-user-container form input[type='text'],
.login-user-container form input[type='password'],
.register-user-container form input[type='text'],
.register-user-container form input[type='email'],
.register-user-container form input[type='password'] {
  background-color: rgb(250, 250, 250);
  outline: none;
  height: 38px;
  width: 80%;
  padding: 3%;
  border: none;
  border: 1px solid #efefef;
  border-radius: 3px;
  box-sizing: border-box;
  flex-direction: row;
  position: relative;
  color: #262626;
  font-size: 14px;
  margin-bottom: 6px;
}

.login-user-container form input[type='text']::placeholder,
.login-user-container form input[type='password']::placeholder,
.register-user-container form input[type='text']::placeholder,
.register-user-container form input[type='email']::placeholder,
.register-user-container form input[type='password']::placeholder {
  color: rgb(200, 200, 200);
}

.login-user-container form input[type='text']:focus,
.login-user-container form input[type='password']:focus,
.register-user-container form input[type='text']:focus,
.register-user-container form input[type='email']:focus,
.register-user-container form input[type='password']:focus {
  outline: 1px solid #b8b8b8;
}

/* .usernameBox{
  height: 38px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  flex-direction: row;
  font-size: 14px;
  position: relative;
  width: 80%;
  border: 1px solid #efefef;
}

.passwordBox{
  top: 8px;
  height: 38px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  flex-direction: row;
  font-size: 14px;
  position: relative;
  width: 80%;
  border: 1px solid #efefef;
} */

.messageSize{
  font-size: 12px;
  color: #262626;
  text-align: center;
}

.smallerBox {
  text-align: center;
  /* width: 22.25%; */
  width: 300px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  /* border-radius: 1px; */
  /* margin-left: 38.4%; */
  top: 10px;
  margin: 0 auto;
  position: relative;
}

.dontHaveAcct{
  font-size: 14px;
  color: #262626;
}

.getAppBox { 
  /* width: 270px; */
  text-align: center;
  background-color: #fff;
  width: 300px;
  /* height: 130px; */
  margin: 0 auto;
  margin-top: 22px;
  padding-bottom: 3%;
  border: 1px solid rgba(255, 255, 255, 0);

}

.getTheApp{
  font-size: 14px;
  color: #262626;
  padding-top: 1.5%;
}

.appStore-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.c4q-container {
  padding-top: 3%;
}

/* .appStore{
  padding-right: .5%;
} */

/* NewUserMain page */
/* .registerBox{
  text-align: center;
  width: 22.25%;
  height: 45%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin-left: 38.4%;
  margin-top: 5%;
  padding: 10px 0;
} */

/* .inputBoxes {
  height: 38px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  flex-direction: row;
  font-size: 14px;
  position: relative;
  width: 80%;
  border: 1px solid #efefef;
} */

/* .topSpacing1{
  top: 8px;
}

.topSpacing2{
  top: 16px;
}

.topSpacing3{
  top: 24px;
}

.topSpacing4{
  top: 32px;
} */

.messageColor{
  color: #999;
}

.haveAnAcct{
  font-size: 14px;
  color: #262626;
}

.noUnderline{
  text-decoration: none;
}
