/*--------------------------------------------*/
/*          Profile Page - User Info          */
/*--------------------------------------------*/

.infoContainer {
    display: flex;
    justify-content: center;
    width: 955px;
    height: 152px;
    margin: 0 auto;
    padding-top: 22px;
    margin-bottom: 42px;
    /* background-color: salmon; */
}

.userImageContainer {
    /* background-color: yellowgreen; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userIMG {
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

.allUserInfo{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.usernameDiv,
.containerForNumberStats,
.nameAndBio {
    /* background-color: slateblue; */
    height: 33%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    font-size: 1.6em;
    align-items: center;
    padding-left: 7%;
}

#usernameH1 {
    color: black;
    padding: 0;
    margin: 0;
}

.following-button {
    margin-left: 5%;
}

.following-button button {
    padding: 0 24px;
    border-radius: 2px;
    border: none;
    border: 1px solid rgba(0,0,0,.0975);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 30px;
    background-color: rgb(250, 250, 250);
}

.containerForNumberStats a {
    text-decoration: none;
    color: black;
}

.statFollow {
    margin-left: 8%;
} 

.nameAndBio h3 {
    padding: 0;
    margin: 0;
}

.bio{
    margin-left: 3%; 
}


/*--------------------------------------------*/
/*         Profile Page Image Grid            */
/*--------------------------------------------*/

.rowOfPics {
    width: 955px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.grid-image-single-container {
    width: 30%;
    padding-bottom: 30%;
    background-color: rgb(255, 255, 255);
    transition: 0.1s all;
    overflow: hidden;
    margin-bottom: 3%;
    position: relative;
}

.grid-image-single {
    position: absolute;
    height: 100%;
    width: auto;
}

@media screen and (max-width: 1060px) {
    .infoContainer {
        width: 90%; 
    }

    .rowOfPics {
        width: 90%;
    }
}
