/*--------------------------------------------*/
/*                Color Scheme                */
/*--------------------------------------------*/
/* color1: #34373c grey */
/* color2: #141518 darkgrey */
/* color3: rgb(148,0,105) purple */
/* color4: #f2f2f2 whitesmoke */
/* color5: #f2f2f2 low opacity */


/*--------------------------------------------*/
/*              SinglePhoto.jsx               */
/*--------------------------------------------*/

.single-photo-container {
    display: flex;
    height: 100%;
    background-color: #34373c;
    color: #f2f2f2;
}

.single-photo-left {
    width: 65%;
}

.single-photo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-photo img {
    position: relative;
    width: 100%;
}

.single-photo-right {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.single-photo-info {
    display: flex;
    height: 15%;
    background-color: red;
}

.single-photo-info img {
    height: 36px;
    width: 36px;
    border-radius: 100%;
}

.single-photo-comments {
    display: flex;
    flex-direction: column;
    height: 50%;
    background-color: orange;
}

.single-photo-likes {
    display: flex;
    flex-direction: column;
    height: 20%;
    background-color: greenyellow;
}

.single-photo-add-comment {
    height: 15%;
    background-color: green;
}

/* .single-photo-container {
    display: flex;
    position: relative;
    margin: 0 auto;
    font-size: 1.4em;
    color: #f2f2f2;
    background-color: #34373c;
}

.single-photo {
    width: 70%;
}

.single-photo-img {
    position: relative;
    width: 100%;
    height: auto;
}

.single-photo-details {
    width: 335px;
    background-color: #34373c;
    padding: 3%;
    text-align: left;
}

.author-name {
    font-weight: 600;
    margin-right: 3%;
}

.single-photo-author {
    border-bottom: 1px solid rgba(242, 242, 242, 0.6);
    padding-bottom: 6%;
    display: flex;
    align-items: center;
}

.prof-img-small {
    height: 36px;
    width: 36px;
    border-radius: 100%;
    margin-right: 6%;
}

.single-photo-caption {
    padding-top: 6%;
    height: 60%;
    line-height: 1.2rem;
}

.single-photo-liked-status {
    border-top: 1px solid rgba(242, 242, 242, 0.6);
    padding-top: 6%;
}

.single-photo-likes {
    padding: 6% 0;
    border-bottom: 1px solid rgba(242, 242, 242, 0.6);
}

form {
    padding: 6% 0;
}

input[type='text'] {
    border: none;
    font-size: 1.2em;
    color: #f2f2f2;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}

input[type='text']::placeholder {
    color: rgba(242, 242, 242, 0.6);
}

input[type='text']:focus {
    outline: none;
}

@media screen and (max-width: 1000px) {
    .single-photo-container {
        width: 95%;
    }
} */

